/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%; /* Adjusted to 100% for better responsiveness */
}

.form-horizontal .form-group {
    margin-bottom: 20px; /* Add margin between form groups */
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: 1px solid #007bff; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    text-align: center; /* Alineación del texto */
    cursor: pointer; /* Cursor de puntero */
}

    .btn:hover {
        background-color: #0056b3; /* Cambio de color de fondo al pasar el ratón */
        border-color: #0056b3; /* Cambio de color de borde al pasar el ratón */
    }

/* Additional styles for margin and padding */
.mb-3 {
    margin-bottom: 1rem;
}

/* Styles for navigation bar */
.navbar {
    margin-bottom: 0; /* No margin at the bottom */
    border-radius: 0; /* No rounded corners */
}

.navbar-inverse {
    background-color: #222; /* Background color */
    border-color: #080808; /* Border color */
}

    .navbar-inverse .navbar-brand {
        color: #ffffff; /* Text color for brand */
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff; /* Text color for nav links */
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            background-color: #080808; /* Background color on hover */
        }

.container.body-content {
    padding-top: 70px; /* Ensure content doesn't overlap with fixed navbar */
}

footer {
    padding: 10px 0; /* Padding for footer */
    text-align: center; /* Center align footer text */
}
